<html>
<body>

<p>I hope you are well. Thanks for your help so far! The consortium was impressed with your ideas; you really helped encourage the other members of the consortium to rethink their approaches. The next challenge is related to the transportation grid. Admittedly, this isn't my area, so the consortium member responsible for transportation has compiled a short animation to describe the problem.</p>
<input type="image" src="images/play_btn.png" alt="Play" onclick="playVideo()">
</body>
</html>