<html>
<body>

<p>The confusion with the different modes of transportation isn't isolated to a particular geographic area. In fact, the issues that people are facing aren't universal in each area. In London, United Kingdom, the main strikers are the Uber drivers.</p>  

<p>In Sao Paulo, Brazil it's the Amphibious bus drivers that cross the Atlantic.  It's a challenge to communicate with all these people, because they are so diverse.  This course will help you begin to craft your ideas around how to communicate 'across' cultures.</p>

</body>
</html>