<html>
<body>

<p>Any time that you provide your thoughts to others, you will receive many different types of feedback.  Sometimes people will agree with you; sometimes they won't.  And sometimes, they may not provide feedback at all.  We all learn different ways to give and receive feedback.  In the workplace, this is especially important because we need to be able to provide meaningful input to the work of others; and they are going to try to do the same for you. </p> 

<p><span style = "color:#22f5ff"> Do you feel comfortable giving feedback?  How do you normally feel receiving feedback? </span> 
<br>
<br>
If you want to learn more about this, I highly recommend the following course:</p>

</body>
</html>