<html>
<body>

<p>Communicating across cultures is always rewarding; but, can often be challenging as well. Though, the way we get better at it is to simply do it. So&hellip;</p>

<p>Go to the Early Talent Jam and look for the thread on 'your modes of transportation.'</p>

<p>Write a response to the following questions about your preferred modes of travel to:
<ul>
<li>Get to work.</li>
<li>Visit close family and friends.</li>
<li>Go out to a nice restaurant or club to see a concert.</li>
</ul></p> 

<p>Be as descriptive as possible. Your goal is to try to share some of the experience that you go through.</p>

<p>Example:</p>
<p>I live very close by the office where I work. I often walk; though, if the weather is especially poor, I will drive. It takes about the same time either way because of all the traffic signals between my home and my work.</p>

</body>
</html>