<html>
<body>

<p>In the middle of the 21st century, almost everyone is co-located. We live everywhere and subsequently, we work everywhere. While technology has improved, we still need to it communicate with all the people on our teams. Just look at the consortium: there are 12 members and only two of them live in the same country as each other. This really started in your time. Already, a lot of people at SAP work from home in one of the dozens of countries where SAP has a presence.</p>  

<p>The point of all this is that being able to communicate effectively is important. One of the primary ways that you need to learn how to interact with people at SAP is by using Lync or Skype for Business. To help you get up to speed, you should check out this course.
<ul>
<li>Communicate Via Lync: </li>
</ul></p>

<p>Oh&mdash;wait&hellip;what? You already know how to use Lync? But&hellip;but&hellip;we went to a lot of trouble to get this resource for you. What? You don't care? Seriously?!?! Fine. Then I suggest you use Lync to ask your manager or mentor if you can skip this requirement. If its OK with them, it's OK with us.</p>  

<p>If you end bypassing this course, consider adding to the collective knowledge of your peers. We encourage you to go to the Early Talent Jam and add in any best practices or tips and tricks that you have used to the Tutorials folder. You never know what might be helpful to others. If you add something in and the community really finds it valuable, you might be rewarded extra points and recognition.</p>

</body>
</html>