<html>
<body>

<p>Sorry about putting a Lync requirement in there, but it really IS important.</p>

<p>Now, you can put your Lync skills to work. You should reach out to each of the people on your team (including your manager and mentor) and find out the following:
<ul>
<li>Where do they work? (city and country)</li>
<li>Where were they born? (city and country)</li>
</ul></p>

<p>Then, using THIS image of a map:
<ul>
<li>Draw a star on each place where people work</li>
<li>Draw a smiley face on each place where they were born. Draw dotted lines connecting each pair of images</li>
<li>Draw solid lines connecting all the stars</li>
</ul></p>

<p>Finally, you should post this to the 'My team' folder on the Early Talent Jam.</p>

</body>
</html>