<html>
<body>

<p>Everybody blogs these days. Actually, history tells us that the trend towards blogging really started in your time. Everybody has an opinion, so&hellip; why not share it? That is valid whether people are talking about their favorite recipe, their job as a cab driver or their ideas for the future of their company.</p>  

<p>Do you blog? Did you know that your CEO actually blogs about the direction and future of SAP? Use the link below to go to the SAP Strategy Jam and check out the latest blog from the CEO. The SAP Jam is full of information about the future of SAP. I think, if you are going to convince those workers to meet, you are going to have to share our values and what SAP brings to the conversation.</p>

</body>
</html>