<html>
<body>

<p>Hopefully you looked at some of those other resources on the SAP Strategy Jam. I especially love that blog, it always inspires me to read that.</p>  

<p>Did you get a good sense of where SAP is trying to go to in your time? I wonder if  we can find a way to explain the SAP Strategic vision to the striking workers in a way that they might understand, perhaps they will then work with us to find a meaningful solution to the problem. All these resources are great, but how can this message be shared with people who don't work at SAP?</p>

<p>Go to the Early Talent Jam, and find the folder for Strategy Distilled. In that folder, create a post that summarizes the SAP Strategic vision in 100 words or less.  Review any of the previous posts in that thread to inspire you. If you read something in someone elses response that makes you think or gives you an idea, you should make sure to respond to their post and tell them so. It is important to remember that Jam isn't just for posting, but for communicating.</p>

</body>
</html>