<html>
<body>

<p>Can you find the four groups of people (diverse) at a crossroads on a larger map?  Four types of transportation are available. Match the people and their situation to the type of transportation.</p>  

<p>Click on each person to find out more about 'where they are going' and 'how many in their party.'
<ul>
<li>Destination</li>
<li>Number of travelers</li>
</ul></p>

<p>Click on each mode of transportation where you can ask the 'driver' a single question:
<ul>
<li>Costs &ndash; costs are represented in CloudCoins, a fictional currency.</li>
<li>Convenience (where to pick up and where to get dropped off)</li>
</ul>

People:
<ul>
<li>Woman, needs to go to work (25 miles, next town, across river)</li>
<li>Entire family, needs to go to airport (15 miles, outside of town, between towns)</li>
<li>Man, needs to go to bank (5 miles, middle of town)</li>
<li>Man/Woman Couple, needs to go to restaurant (2 miles, nearby)</li>
</ul>

MESSAGE: To better understand how SAP supports its customers, you should understand that those customers often have their OWN customers.  We support the companies in the industry directly, but often influence thousands (or even millions) of individuals through our efforts.

<p>Types of transportation:
<ul>
<li>Uber &ndash; Restaurant, Bank, Airport, Work</li>
<ul>
<li>Picks up right at crossroads</li>
<li>Best rates for shortest</li>
<li>Rates include up to 2 people, additional = $$</li>
<li>Drops off at location</li>
<li>BEST MATCH: Man/Woman Couple</li>
<li>5 MINUTE WAIT</li></ul>

<li>Hover-Cab &ndash; Bank, Airport, Restaurant, Work</li>
<ul>
<li>Picks up right at crossroads</li>
<li>2nd most expensive, price dependent on price for major routes</li>
<li>Rates include up to 4 people</li>
<li>Drops off at location</li>
<li>Discount for airport and in-town over 3 miles</li>
<li>BEST MATCH: BANK</li>
<li>10 MINUTE WAIT</li></ul>

<li>Light Rail &ndash; Airport, Work, Bank, Restaurant</li>
<ul>
<li>Picks up half a mile away</li>
<li>2nd cheapest, rates per person</li>
<li>Best time on route</li>
<li>Drops off at airport and work</li>
<li>Drops off ½ mile from bank</li>
<li>Drops off 1 mile from restaurant</li>
<li>BEST MATCH: FAMILY</li>
<li>10 MINUTE WALK</li></ul>

<li>Amphibious Bus &ndash; Work, Airport, Restaurant, Bank</li>
<ul>
<li>Picks up ¼ mile away</li>
<li>Cheapest, rates per person</li>
<li>Best time on route</li>
<li>Drops off at work and airport</li>
<li>Drops off 1 mile from restaurant</li>
<li>Drops off 2 miles from bank</li>
<li>BEST MATCH: WOMAN</li>
<li>5 MINUTE WALK</li></ul>
</ul>

<p>Match the people to the mode of transportation. Then, see what happens and get a score/feedback based on how well you solved the logic puzzle.</p>

</body>
</html>