<html>
<body>

<p>Ok. The consortium has convened, and we think you are ready. We want you to draft an open email to all the affected workers (you might want to try and avoid using the word 'strike'&mdash;it sets a negative tone). The goal of the email is to open a dialogue with the workers and to invite them to a summit where we can discuss their issues.</p>

<p>Keep in mind that they probably don't really know us. While we've supported the entire transportation and communications grids, it's been on such a scale that the average employee doesn't even know we exist. So, you will need to explain a little bit about SAP and what we do. Focus mostly on how we work and our overall vision and strategy.</p>  

<p>The hope is that you can intrigue them enough to come to the summit. We can then work out the details with them at the summit and collaborate on solution-planning.</p>

<p>Thanks again! We really appreciate your help! After you post yours, check out some of the ones posted by your colleagues and vote on the ones that you think are best. The top emails will be highlighted in the Jam group.</p>

</body>
</html>