<html>
<body>

<p>Your email did the trick! People representing the different modes of transportation all converged on the SAP Headquarters (we recommended doing the meeting here) or joined virtually. We got an amazing turn-out!  Not only did we get people that represent each of the major companies involved, but we also got individual drivers to show up. It's important when looking at large-scale problems to include as many of the people involved as possible.</p>  

<p>What was most surprising is how many people showed up that don't even work in the transportation industry. They were simply people affected by the current issue who wanted to hear what was said.</p>

<p>We left the meeting energized and with clear action items. Already, the strikers are back at work, and we intend to make changes to the way that transportation requests filter down to the individuals.</p>

<p>Thanks again for your efforts to streamline the future!</p>

</body>
</html>