<html>
<body>

<p>To really understand how organizations work, you need to review all types of information. Their mission statement, their customers, their products, even their history. All of that provides you a picture of what a company 'is'. By diving a little deeper, you can get down to the people that make up an organization. Have you looked at the Organizational (Org) Chart for SAP? Check it out and see if you can find where you fit in. It's not as easy as it sounds because there are so many people at SAP. If you think it's challenging, it is. Just think what it looks like in 2045 – we're 10 times bigger than we were back then.</p>

<p>Check it out:</p>

</body>
</html>