<html>
<body>

<p>Ok. Asking you to try and work downward from the top of the organization to find yourself in the org chart was probably a little unfair. But, maybe you got a better appreciation for the sheer number of people that make up such a large organization as SAP. The same is true for all large organizations (companies, governments, etc.).</p>

<p>Now, let's look at the org chart a little differently. Did you know that in Success Map (our internal implementation of SuccessFactors) there is an option to view your own org chart? Check it out. You should see a spot above your head that allows you to go 'up a level'. Keep doing that until you see the top of the company. How many levels deep are you?</p>

</body>
</html>