<html>
<body>

<p>Now that you've gotten a chance to look at your organization, how about describing your organization for everyone else?</p>

<p>Go to the Early Talent Jam and find the forum called 'My Organization'.  You should create a post that includes the following:
<ul>
<li>1-2 sentence description of what YOUR role is.</li>
<li>1-2 sentence description of what your organization does</li>
<li>Description of the people in your organization</li>
	<ul>
      	<li>How many people?  Across how many geographic locations?</li>
      	<li>Note: Don't use names.</li>
	</ul>
</p>

</body>
</html>