<html>
<body>

<p>Trying to create a digital system that breaks down silos and barriers among different groups is challenging. Though, SAP has already started to do it in your time. Did you look at the Customer Testimonial about the State of Indiana? If not, you might want to go back and read it through again. It's what we're talking about globally, but on a larger scale. Another good example is the SAP Institute for Digital Government. This is a fairly recent initiative that strives to improve government within the country of Australia. Most interesting is that, in addition to trying to empower different agencies to more effectively communicate, the initiative also acknowledges one of the groups that can sometimes be overlooked in government: the citizens. It's pretty amazing. Check out this blog on it.</p>

</body>
</html>