<html>
<body>

<p>Did you know that in 2045 some of the most innovative ideas in information and communications technology (ICT) have come out of Africa? What's even more amazing is that this expertise is the direct result of an initiative that SAP started way back in 2013. The Skills for Africa program was an initiative to bring meaningful employment skills into the African continent. Though, SAP didn't do it alone. They were partnered with the World Bank. The World Bank is an example of when governments successfully collaborate, across borders and across the globe. The Skills for Africa program is pretty amazing.</p>

<p>To read more about the program,</p>  

<p>From that page, there is a link to the SAP Newsroom. To learn more about how SAP and various African governments worked together, just go to the Newsroom and search for 'Skills for Africa'.</p>

</body>
</html>