<html>
<body>

<p>While the majority of this mission is about how large organizations need to work together, the same principles hold true all the way down to one-to-one relationships.  One thing I've learned over the years is to never miss the opportunity to build a relationship with a new person, new group or even with a new area of knowledge. You never know when that relationship might be valuable. To provide you some insights into work relationships, here is a course that we found on your LMS that looks to be of value.</p>

</body>
</html>