<html>
<body>

<p>Most of the time when people work together, there is a natural tendency for one or more people to start directing the rest of the people. One of the biggest challenges we all face is that the direction often comes from someone in authority. But, how do you motivate people to make progress towards a shared goal if you don't have "formal" authority? Believe it or not, but this is the heart of the challenge we face with helping governments across the globe collaborate; they do not have authority over one another - and they shouldn't. Though, we do want to encourage them to support each other and to make collective progress towards understanding the needs and wants of each of their regions and peoples. Fortunately, we found a course on your LMS that is specifically on the topic of Influencing without Authority. We've provided a link to it below. I guarantee that it will be useful to you in thinking about the problem we face.</p>

</body>
</html>