<html>
<body>

<p>Now that you've watched the video, you can go ahead and go straight to the document portal. Make sure to also check out the Documents vs. Jam page. You'll find it by following the navigation on the left side of the screen: click on Best Practices and you should see it. After you explore the portal and the best practices section, think about your own best practices with Documents and Jam. If you have any ideas that you'd like to share around this, go to the next link on the map.</p>

</body>
</html>