<html>
<body>

<p>Here's an opportunity for you to show up how smart we know you are. Click on the link below to go to the Early Talent Jam. There is an idea forum called Best Practices. If you have any Best Practices about how to organize, manage and collaborate using resources (either using Documents or by using Jam), post them here.  Just for offering up your ideas, you'll receive a few points. You should also vote for any best practices you see that you really like. If enough people vote for your idea, we may reward you bonus points.</p>

</body>
</html>