<html>
<body>

<p>Ok. You've looked at how your SAP has interacted with a variety of customers in the public sector. You've also had an opportunity to look at how SAP looks internally from a structural perspective. Remember, what we are trying to do in the future is help lay the groundwork for a global information clearinghouse for government regulations and policies that spans the globe. So, what ideas have you learned from current customers, current structures and even from guidelines around how to interact with others and share documents; that could be valuable for us to consider as we design the solution for the global government of 2045.</p>

<p>No one is expecting you to solve the whole problem. But we do want your thoughts about what you think are the key points that you feel would be most valuable for us to include in this new system.</p>

<p>Feel free to work up a draft of your ideas however you would like. Once you've got some of your thoughts ready, you should go to the link below for the Early Talent Jam and in there, use the SAP Jam Ideas forum feature to post your thoughts.</p>

<p>After posting, you should also look around at the submissions of others and you should vote on at least three of your peers submissions.</p>

</body>
</html>