<html>
<body>

<p>Your ideas were outstanding! I sent the letter to all the members of the consortium and told them we would meet this morning to discuss. Everyone showed up with some ideas similar to yours (sometimes even the exact idea, other times a variation) and that led us to a good discussion and even more great ideas.</p>  

<p>I can't tell you how much we appreciate your efforts. We really were having a hard time getting past our personal feelings about the issue, especially because we all want to help, but we also all come from different countries. I think the biggest surprise for everyone was that almost no one realized just how much support SAP had given to different governmental agencies over the years. We were able to start diving back into our own history and re-learned a few things. And it's all thanks to you!</p>

</body>
</html>