<html>

<body>
  
<input type="image" src="images/play_btn.png" alt="Play" onclick="playVideo()">
 <div class="post-video">  

<p>Please do what you can to help!   Here is a summary:
  
<ul>
    
<li><em>Investigate</em> how did this shared economy work? </li>
    
<li><em>Review</em> some of the success stories that SAP has had with customers</li> 
    
<li><em>Share</em> your own perspective on digital finances</li>
    <li><em>Discover</em> ways to organize and manage both your work and the work of your projects</li>
  
</ul>
</div>
</body>
</html>
