<html>
<body>

<p>I'm glad that I asked you to look into this for me. In our time, information security is still important, but global attitudes are to really take it for granted.  There were so few major incidents for so long that people stopped worrying about it.  It's a lot like Dengue Fever.  Apparently in 2015, the United States had its largest number of incidents of Dengue Fever since the 1940s.  We can all be guilty from time to time of forgetting to be diligent about something that seems to not exist anymore.  I did some hunting around and see that your SAP was all over the security issue.  What? You don't believe me.</p>  

<p>Look at this page; it's all about SAPs Enterprise Threat Detection.</p>

</body>
</html>