<html>
<body>

<p>Sometimes it pays to view all the optional resources. If you didn't realize it, this video only unlocked once you looked at the article on mobile banking.</p>

<p>What does mobile banking and transactions really mean? To those of us living in the highly-developed portions of the globe, it means our daily coffee and paying credit card bills.  But, what does it mean in those areas where the technology is still new?  People ARE embracing technology in those areas to further their businesses.</p>  

<p>Look at this video. And I hope you like cashews.</p>

</body>
</html>