<html>
<body>

<p>Sometimes not everything is what it appears to be. You might need to really explore and to determine what this means and what to do next. The Image below will provide a clue for how to read the code below.</p>

<p>Q29uZ3JhdHVsYXRpb25zLiAgWW914oCZdmUgc29sdmVkIHRoZSBwdXp6bGUuICBHbyB0byB0aGUgbGluayBiZWxvdyBhbmQgeW91IGNhbiBzZWUgdGhlIGN1cnJlbnQgU0FQIFBob3RvIENvbnRlc3QuICBMb29rIGFyb3VuZCBvbiB0aGlzIHBhZ2UgYXQgYm90aCBjdXJyZW50IGFuZCBwYXN0IHBob3RvIGNvbnRlc3RzIGFuZCBzZWxlY3QgYW4gaW1hZ2UgdGhhdCBiZXN0IHJlcHJlc2VudHMgeW91LiAgVGhlbiwgYWRkIGl0IHRvIHlvdXIgcHJvZmlsZS4gIE9uY2UgeW914oCZdmUgZG9uZSB0aGF0LCB0eXBlIGluIFBIT1RPSFVOVCBpbnRvIHRoZSBCeXBhc3MgV2luZG93IHRvIHNjb3JlIHNvbWUgZXh0cmEgcG9pbnRzIQ0KaHR0cHM6Ly9qYW00LnNhcGphbS5jb20vZ3JvdXBzL2Fib3V0X3BhZ2UvN1FNY0JBSnMyRDV3ZXR1NENvRHNodQ0K</p>

<p>ANSWER: Congratulations. You've solved the puzzle. Go to the link below and you can see the current SAP Photo Contest. Look around on this page at both current and past photo contests and select an image that best represents you. Then, add it to your profile. Once you've done that, type in PHOTOHUNT into the Bypass Window to score some extra points!</p>

</body>
</html>