<html>
<body>

<p>This money issue is really tricky. I think it might make sense to approach it like a formal project, don't you agree? Ultimately, we will need to drive towards recommending solutions for our customers and for the world, in general. Let's see if we can focus on the three key aspects of a project:
<ul>
<li>Performance - what do we need to do to achieve our goals?</li>
<li>Costs - what resources are necessary to achieve that performance?</li>
<li>Deadlines - when does it need to be completed by?</li>
</ul></p> 

<p>Admittedly, talking in the language of project management isn't familiar to everyone. To go over the basics, you should check out this course we found in your Success Map Learning: it's pretty good if you can look past the animations.</p>

</body>
</html>