<html>
<body>

<p>Up to this point, you've been 'beyond' helpful in providing new ideas for us to implement in the future. But, let's not forget about your future. You are important to our continued success too!  Some of the things you will do throughout your career will help shape the future of SAP. So, it's important to spend some time thinking about your role and what you want out of your career. Oh. Don't feel like you have to figure everything out RIGHT NOW! It's a process and your career will shape and change over the years.</p>

<p>To give you some of the background of how to think and communicate about your career, take a look at the Talent Journey Jam.</p>  

<p>While there, you should make sure to enroll in the program (the directions are on the main screen).</p>

</body>
</html>