<html>
<body>

<p>So, what do you want to be when you grow up? This is a question that we are wrestle with throughout our careers. And you know what? The answer changes over time. Though, one piece of advice is to focus on your own unique skills and strengths as your professional-self evolves.</p>

<p>Do you know and understand your unique skills? We've provided you a link below to a self-paced course about Career Development. While you will want to go through the entire course at some point, you don't need to do it all right now. Take a look and today, maybe just read through parts of Module 2. It will help you reflect on your own skills. We will recommend you look at other parts (especially Module 4: The Personal Development Plan) in detail another time.</p>

</body>
</html>