<html>
<body>

<p>We invest a lot of ourselves in what we do, that's what makes it so worthwhile. However, it's very easy for work to be emotionally draining and to sometimes confuse our priorities. Have you heard of mindfulness? This was a fairly new idea in your time but is everywhere in the future. The general idea is that mindfulness is about how to calm your mind on demand and return it to a natural state of happiness and wellbeing. It can not only make your work better, but makes your work-life balance better. Check out the link to the presentation below about it. It's pretty amazing stuff.</p>

</body>
</html>