<html>
<body>

<p>In addition to your perspective on the digital transformation of finance and money, we are also doing our best to collect the perspectives of others. I'm sure you realized it by now that SAP is comprised of many different types of people, each bringing their own understanding and identity to solving problems every day.</p>

<p>Diversity and inclusion are a really big deal at SAP. Just like it says on the Diversity and Identify page of the Diversity Jam:
<ul <list-style: none; margin: 0; padding: 0;>
“Culture & Identity at SAP is about honoring the many voices that inspire our innovation.”</ul></p>
  
<p>You should spend some time reviewing what SAP has to say about Diversity:</p>

</body>
</html>