<html>
<body>

<p>Write a blog entry about what digital means to you in YOUR time. While you should talk about the digital transformation about financial data, you should also feel free to roam in your thinking. Ultimately, we need your perspective on what the transition to a digital-world means and what it feels like. In other words, we want your answer to the question:</p>  

<p><ul <list-style: none; margin: 0; padding: 0;>
"What should a world that has embraced digital-currency look like? What types of activities should occur in this world (including what are some ideas that exist in your time that you think should persist)?"</ul></p>

<p>We are hoping that your perspective will provide us with insights into what the shift really means and how people are influenced by it. You should write up 3-4 paragraphs (or more) and post it in the Early Talent Jam under 'Finance and Digital Transformation'.</p>

</body>
</html>