<html>
<body>

<p>We reviewed your submission and you've caused some very healthy debate here amongst the members of the consortium. I think I mentioned before that we've really been living in a digital world for quite a while. Your input helped those of us that are old enough to remember what the transition was like. And, for those too young to really have their own perspective, you summarized the landscape of the change in a way that has helped them understand.</p>  

<p>We immediately went from reviewing your thoughts to an emergency session of key leaders across the globe to discuss the digital economy and the security issues. While I feel like I'm saying it a lot these days, thanks so much for your insights!</p>

</body>
</html>