<html>
<body>
	Hey, how are you doing? You should know by now that I am contacting you, because I have another mission for you! This email is from our Chief Healthcare Officer, a key member of our Consortium, will explain the problem and his plea for help. Click on the icon to see it.<p>
	<a href="images/SAP_MIssion5_Email.jpg" target="_blank"><img src="images/MissionIcons_ZoomIn_Green.png" height="40" width="40"></a>	
	</p>
	 <div class="post-video">  
	 So that’s that. Do you think you can help us to prevent a crisis and make healthcare affordable and accessible to everyone in the future?<p>
Can you create a presentation to get the small communities to monitor their personal health and well-being, so we can aggregate a good amount of representative data?<p>
To help you prepare for this mission, you will need to build up the following skills:
	 <ul>
      <li><em>Create</em> and deliver meaningful presentations</li>
      <li><em>Use</em> Success Map Learning</li> 
      <li><em>Participate</em> in a Talent Check-In conversation with your manager</li>
      <li><em>Identify</em> how to overcome setbacks in the workplace</li>
    </ul>

	I have faith that you can do this!  You have a solid track record now of coming through for us!<P>
	Thanks a lot!
	
</div>
	
</body>	
</html>