<html>
<body>

<p>To really get people engaged, you are going to need to help craft your message into the right presentation. Have you ever put together a presentation before? I know a lot of people have used tools like Microsoft PowerPoint to create slides, but what about a really powerful presentation?  While you can probably reference presentations you've seen that really 'spoke to you', it never hurts to review it again.</p>

<p>You must be thinking 'why are we still asking you to use PowerPoint?' Office productivity tools have evolved a lot over the years. You have to see the holographic tools we have in 2045...but for this task, stick to what you know. Simple is better.</p>

<p>We found a course in your LMS that will prepare you for your mission! We've even provided a link below.</p>

</body>
</html>