<p>This is a scenario-based game where various people in a community are asked questions related to their well-being, health and healthcare. By collecting this information, SAP can process the data real-time and provide guidance on driving action in the communities.</p>

<p>Members of the community <!--three clickable characters--><br>
<ul>
<li>a woman in her 20s, who is fit, eats well and practices yoga to fight the stress of being a single mom</li>
<li>a man in his 30s, smokes, has high blood pressure, a poor diet and doesn't sleep well due to lots of stress from his job</li>
<li>a woman in her 40s, who has diabetes, is fairly fit and has reasonably low stress and healthy lifestyle</li>
</ul></p>

<p>The learner is able to ask them 3 questions to find out about their well-being. The answers are submitted to a "machine" for processing. </p>