<p>Click on the link to access the remainder of the email from our Chief Medical Officer. It will tell you more about your actual mission.</p>

<!--Continuation of initial email from the Chief Medical Officer--> 

<p>Our goal is to change the focus of healthcare from treating the sick to preventing illness. We want people to take charge of their own health and understand how their lifestyle choices  related to exercise, nutrition and stress management contribute to their overall health and well-being.</p>
  
<p>This has the potential to not only address the issue of sky high healthcare costs in 2045 but also to change patient and practitioner behaviors and shift the focus from treatment to prevention.</p>
  
<p>As I mentioned before, we need your help in convincing local communities to collect data about their health and well-being. By consolidating this essential information and applying real-time analytics, we can clearly see what decisions need to be made to meet our goals.</p>
  
<p>Can you help us craft a presentation to the local communities that explains what we are trying to accomplish?  Put together a PowerPoint presentation of no more than 10 slides. We provided you with some courses on how to create a presentation earlier in the mission, so you should be all set. If you feel like you need more review, feel free to go back and review the resources again.</p>
  
<p>Here's what we need you to do: 
<ol>
<li>Go to the Early Talent Jam and look for a folder called "Health Presentation."</li>
<li>In that folder, we've collected some initial ideas for you to consider for your presentation.</li>  
<li>We've also provided some links to additional articles and resources for you to read on SAP Jam, Corporate Wiki and the SAP Corporate Portal. You are encouraged to pull out ideas from any of these sources (or any of your own that you find!) and use them in your presentation.</li>  
<li>As you work on your presentation, feel free to ask a peer for some feedback. It never hurts to get a 2nd opinion.</li>
<li>Use this PowerPoint template for your presentation. You can download it here: 
<a href="https://www.sapbrandtools.com/powerpoint-and-word-templates/">https://www.sapbrandtools.com/powerpoint-and-word-templates/</a></li>
<li>Post your presentation in the folder to share it with everyone.</li>
<li>Present it to one of your fellow Early Talents, as if you  were going to present it to a small community. This could you someone you already know, or maybe someone who is part of Jam that you don't know yet. Give and receive feedback from each other.</li>
</ol></p>

<p>Thanks for all your efforts! </p>