<p>Initial Ideas for your Health Presentation (to be provided in the health presentation folder)<br>

<ul>
<li>The goal is for the individual to monitor and track his/her well-being and increase his/her accountability and involvement in their own care.</li>  
<li>We plan to employ sensors and wireless/wearable tracking devices that gather real-time data on sleeping patterns, fitness trends, eating habits and stress levels (heart rates) and deliver the information to healthcare providers.</li>
<li>Remote patient monitoring (applications using data through GPS devices and mobile apps) will also capture patient activity such as chronic conditions, including heart disease, asthma and diabetes. This would enable physicians to get access to the individual's data and see health trends and identify individuals at risk.</li> 
<li>Technologies like SAP HANA can collect massive data sets in real time that help researchers and physicians to create insight. With the analytical power to decipher this information, we can transform it into actionable insight.  The SAP HANA platform not only can enable us to make decisions for today, but it also provides a powerful predictive engine.</li>
</ul></p>

<p>Sources:</p>


  
