<html>
<body>

<input type="image" src="images/play_btn.png" alt="Play" onclick="playVideo()">

<div class="post-video">
Hi – I have to keep this short.  Hana-XY has restricted my ability to contact you – apparently, the future has interfered enough.  But, it did approve this note.
To successfully examine the past, mold the present and define the future, you should:
<li>Review SAPs place in the world:  who are the biggest partners? who are our primary competitors?
<li>Describe what SAP does:  what are our key products?  
<li>Align with our message: what guidelines and standards exist for our brand?  What imagery is available for use?
Good luck and thanks. I’d do more if I could &#9786;

</div>    
</body>
</html>