<html>
<body>

<p>One of SAPs key partners in recent years has been Accenture.  While these two companies have worked together in the past, the future of this relationship is e<font size="8">x</font>tremely bright in your time.</p>

<p>Sometimes at SAP events, representatives from key partners will actually present what the partnership has meant to them. Here is a link to a video presentation by the Managing Director at Accenture describing how these companies have worked together.</p>

<p>Oh&mdash;this keynote presentation is about 20 minutes long. I know, who has patience to watch something longer than 21 seconds these days? But, it's well worth listening to when you have time.</p>

</body>
</html>