<html>
<body>

<p>We've asked you to look at a number of customers (across sectors); however, have you considered what companies are SAP’s leading competitors? This is actually a difficult question to answer.</p>  

<p>In the largest sense of SAP as a software company specializing in Enterprise Resource Planning, there are a few dozen other companies that exist in this space. The notable ones are Microsoft and Oracle, though there are others. If you are curious, go to Wikipedia and do a search for 'ERP Software Packages'. You'll see SAP and others. However, two things clutter the question of competitors.</p>  

<p>The <font size="8">f</font>irst is that SAP has many types of products and services.  So, while we compete for ERP customers with Microsoft and Oracle, when talking about the cloud, we might also include Salesforce or one of a number of smaller, but still potent, competitors such as Workday or Qlik. And, if we talk about databases, we might add IBM.</p>  

<p>In other words, SAP successfully competes with many other companies in many areas. The other reason why this question is not a clear one is that SAP, over the years, has also worked in close alliance with many of these same companies. We may compete, but we can evolve together.</p>  

<p>Don't believe me? Check this out.</p>

<p>You can also do your own searching for things like 'IBM and SAP alliance' for another example.</p>

</body>
</html>