<html>
<body>

<p>To look forward&mdash;to look back. The future will always be what you and your peers make it. Ever hear of FM-2030? He was a <font size="8">f</font>uturist from the end of the 20th century. Really? You've seriously never heard of him? That's too bad. One of the most popular catchphrases in 2045 is "I have a deep nostalgia for the future." And it is attributed to him.</p>

<p>Over the years, there have been plenty of deep thinkers that devote their energies to thinking about the future. Alvin Toffler, Aldous Huxley, George Orwell&mdash;just to name a few.</p>

<p>Search the internet to find a quote about the future that really resonates with you. You should share it on the appropriate jam thread in the Early Talent Jam. Also make sure to describe what YOU THINK the quote means. If you need a little bit of inspiration, go to good reads (under Explore is a section on Quotes) and search for 'future'.</p>

</body>
</html>