<html>

<p>You have done so much.  Across the time continuum, you have captured the essence of what it means to be an Early Talent at SAP - in your time, in my time, in our time.</p>

<p>But, while you have influenced the SAP of 2045 with your efforts, there is much to do.  The future is only assured by the present.  Your 'NOW',</p>

<p><b>This is your time.</b></p> 

<p>Take your knowledge of SAP, our customers, our partners, our sectors, our products, our processes and most importantly, our people and continue to apply that knowledge to the challenges you face today and the opportunities you may face tomorrow.</p>

<p>You have done well.</p>  
  
</html>