<html>
<body>

<p>Didn't someone once say that "change is the only constant in life?" That makes sense, right? I mean we are all going through change each and every day whether we are aware of it or not. Some changes are bigger than others, but they all make us grow. 
In this mission, we want to change our thinking around problem-solving and, this time, consider the full ramifications of our solution. So, we're going to have to embrace some change, and what's the best way to do that than going through this course we have lined up for you?</p>

<p>You'll review how to harness the power of change and benefit those around you by avoiding quick reactions, adopting a positive attitude, and developing a real plan to integrate change:</p>

</body>
</html>