<html>
<body>

<p>How do we go about solving a problem? I found a course for you here that will describe a five-step process for problem-solving.</p>

<p>Before we get into it, I want to re-iterate how important it is to identify the consequences when describing the problem. Maybe if we followed this from the gecko,we had been applied these problem-solving steps, we wouldn't be in this environmental disasttaster in the first place!</p>

<p>The consequences are the effects of the problem such as impact to customers, profit, productivity or morale (in the context of the workplace). Identifying the consequences involves asking a series of questions such as:
<ol>
<li>How much is the problem costing?</li>
<li>Are customers affected? To what degree?</li>
<li>Does the problem exist in other processes?</li>
<li>Is it creating problems in other processes? What are they?</li>
<li>How many other people are affected by the problem?</li>
<li>Are there other potential consequences?</li>
</ol>
</p>

<p>Check out this course to learn more:</p>

</body>
</html>