<html>
<body>

<p>Planning is important no matter what you're going to do, right? From planning your vacation to your career, planning is key. And, as we have learned, all decisions have consequences, so it's important to plan ahead to avoid creating new issues when solving problems.</p>

<p>The only difference in career development planning is that it's about you and the goals you want to achieve in your career at SAP. So, we've got this course will help you to create your very own Personal Career Development Plan and share it with your manager. Check it out here:</p>

</body>
</html>