<html>
<body>

<p>When considering problem-solving, you should also recognize that others are working to solve problems as well. Ever heard of Bono? The lead singer for the band U2? Bono is also a well-known as an activist in a number of different areas including environmental issues. How's Bono these days? Yes, we still listen to U2 in 2045. Whether you like it or not…</p>

<p>"But what do I have to do with Bono?" you may ask. Have you heard of 6 degrees of separation? Google it. It's a real thing. This was just an excuse for me to show you once again that being part of SAP, you can change the world one life at a time. Don’t believe me? Here's some information about the SAP CEO Bill McDermott with Bono and several others discussing how institutions can end the AIDS epidemic in impoverished nations:</p>

</body>
</html>