<html>
<body>

<p>Ok. I think you are ready. The Environmental Commissioner plans to attend an important Global Environment Summit to discuss strategies for mitigating risk. She needs your help in coming up with some ideas on how to problem-solve in a forward-thinking way (mitigating risk, thinking about the consequences, etc). She plans to present your ideas to a special Committee at this Summit.</p> 

<p>If the Committee approves her recommendations, she'll receive funding towards a new initiative called the Sustainability Fund. For SAP, sustainability is the ability to manage economics, social and environmental risks and holistic opportunities to increase profitability. It contributes to our vision to help the world run better and improve peoples' lives. SAP is committed to fully integrating sustainability into our strategy.</p> 

<p>In your post, you should apply what you've learned about problem-solving. Focus on strategies for problem-solving, not necessarily the environment. In other words, what are your personal rules for problem-solving? What process do you go through when you are challenged with a difficult problem to solve? Do you analyze the situation first? Do you dive right into brainstorming?</p>

<p>I know that when I problem-solve an especially difficult problem, I almost never start writing anything. Instead, I spend a lot of time thinking about the problem itself to make sure I understand it. Only once I understand the problem can I really start to work on it. Once I do understand, I often do some very specific things to spur my thought-process. The most critical of these is that I like to eat apple pie. I know, it sounds crazy, but it's true. Eating a piece of pie helps me clear my head of the clutter and focus on the problem-at-hand./p>

<p>Give this a bit of thought. Once you've got your ideas organized, you should go out to the Early Talent Jam and post them. And remember, your ideas will be shared with others as a potential 'way to approach problem-solving', so be honest. And make sure to explain your process in such a way that someone else could try to duplicate it.</p>

<p>Oh - if you have specific suggestions that might apply 'specifically to an environmentally-focused problem', go ahead and suggest them. Sometimes all it takes is a walk in the woods to set your personal context.</p>

<p>Log into Jam and create a blog entry with your ideas.</p>


</body>
</html>