<!DOCTYPE html>
<html>

  <p>Wait.  You’ve never used Jam?  It’s sweet.
  </p>  

    <p>Jam is an internal SAP tool that allows employees like you and me to post ideas for sharing, to document things we are working on and to even create new groups to foster ideas.</p>

  <p>Jam has been critical to our success.  It allows all employees to easily connect to all other employees.  And it even allows us to invite non-employees into groups.  So, we can share ideas with customers, experts and other people that might inspire us.</p>

    <p>You should check it out.  I have a feeling (wink, wink) that you’ll be using Jam a lot in your career at SAP.

  If you want to learn more about how to use Jam, check out this nifty job-aid.</p>
  
</html>