<p> "Ok.  Now that you’ve looked at the Early Talent Jam Group, we would really appreciate learning more about you.</p>
<p>One of the biggest challenges that we face in the future is that while we can look up different things you’ve ‘done’ in your time at SAP historically, we don’t really know the people.  We want to know who you are.</p>
<p>Go to the Early Talent Jam Group and introduce yourself.  </p>

<p>Look for the discussion called ‘Introduce Yourself’ and share (at least) the following:</p>

<ul>
<li>Where you are from</li>
<li>Where you work</li>
<li>Your school/work background</li>
<li>Why you chose SAP</li>
</ul>

