<html>

<body>
  
<button class="video-btn" onclick="playVideo()" >Video</button>
 <div class="post-video">  

<p>Here's what we think might help: 
  
<ul>
    
<li><em>Identify</em> how SAP has been involved in the food and beverage industry</li>
    
<li><em>Review</em> some of the success stories that SAP has had with customers</li> 
    
<li><em>Share</em> your own personal flavors and interests</li>
    <li><em>Describe</em> how SAP has been influential in this industry</li>
  
</ul>
</p>  

<p>But&mdash;you can't do it alone, so you'll also want to get a mentor and learn how to share your ideas using Jam.</p>
</div>
</body>
</html>