<html>
<body>
  
<p>
Now that you've looked at the user guide for JAM, you should go and check out your personal profile in JAM. It's pretty cool.
</p>

    
<p>
I'm assuming you already have some social presence out there.  <em>Ok. I know you do. <b>I've got 30 years of data I can search for on you.</b> </em> JAM is set up similarly. But, its nice that its still work-focused.
</p>

  

<p>
Go ahead and update your profile.
 
Don't forget to check your standard information.
</p>  

<p>
Also, there should be a notes section where you can add in whatever you want. In there, list your three favorite foods. We are hoping that if ALL Early Talents do this, it will inspire us in the future to wonder what these amazing items are and try them&mdash;both to add variety into our lives AND to get to you better.
</p>

</body>
</html>