<!DOCTYPE html>
<html>

  <p>
    How’s it going so far?  One of the key things that may not be obvious is that ‘food’ isn’t just an industry, it’s also a commodity.  SAP has been involved with food in a number of ways.  One of these is in the support of Wholesale Distribution.  
  </p>
  <p>
  Not sure what Wholesale Distribution is?  Check out this page.  It might start to give you an idea.
  <br>  
 <br>
  <b><em>Just a friendly warning:</em></b>  there is a <strong>LOT</strong> of information available on this page.  For a good summary of Wholesale Distribution and what SAP can do in this area, click the link ‘Learn more about our Distribution software’ on the main page.
  </p>
  <p>
  As you progress, keep in mind that many of SAP’s customers are large, global organizations that span multiple industries. 
  </p>

</html>