<html>
  <body>
  <p>
  <span style = "color:#22f5ff"> 
          YOU’RE MAKING FANTASTIC PROGRESS!  THANKS SO MUCH FOR YOUR HELP SO FAR.
    </span>
    </p>
    <p>
      One of the groups we’ve set up to capture a lot of your work (and those of other Early Talents) is the Early Talent Jam Group.  
      You have to check it out.
      Some of the things to look for here are:</p>
      <ul>
      <li>See who else posts – check out your fellow Early Talents!</li>
      <li>Check that there are folders for different types of activities.</li>
      <li>Just explore!</li> 
      </ul>   
      </p>
  </body>
</html>