<html>
<body>

<p>Hi again.<br><br>Did you know that SAP is older than both Microsoft and Apple? To influence what SAP does in 2045 and what it does in your time, you'll need to understand some of its history.</p>
	

<p>Check out this resource. Oh&mdash;it's a public site, so you can share it with your family and friends too!</p>


<p>Make sure to watch the video towards the bottom of the page: "SAP's plan for the Next 40 Years"&mdash;we can only live that future if you help make it a reality today!</p>

</body>
</html>