<html>
<body>

<p>It is very important that, early in your career at SAP, you start a mentoring relationship with a peer who will help guide you through your career. In fact, we encourage you to find a mentor before going any further in this program so that you have someone to discuss your progress with other than your manager.
“How do I get a mentor?”, you may ask? SAP has taken care of that for you. Simply go into the Mentoring Tool, then search and contact a mentor that you feel better matches your goals, experience, and aspirations. You may also get advice from your manager to identify a possible mentor, based on your development needs.</p>

<p>Check out the Mentoring Resource Guide (on the right side of the screen) and the Mentoring Tool when you visit the Mentoring Portal.</p>  

<p>To access the Portal, click below.</p>

</body>
</html>
