

<p>Now that you know how to do a GO-DO, it’s time to GO-DO one.  Ha ha.  In this case, it’s pretty easy.  Click the button below and request a mentor.  Trust me.  A mentor is a nice thing to have.  They can answer questions you might have, clarify things that seem confusing, and will occasionally review things you’ve submitted.   Most importantly, they are available to talk to you about anything that you are doing.</p>

<p>My own mentor just recently retired from the company.  Early on, I used to ask questions about everything “Why does SAP do this?  Why does SAP do that?” – over time, my mentor and I became colleagues, then collaborators and even friends.  </p>

<p>GO-DO it now!</p>