
<p><span style = "color:#22f5ff">
Shall we play a game?” 
 </span></p>

<p>THAT IS ONE OF MY FAVORITE MOVIES.</p>

<p>We’ve included some of the resources that we think will be useful to you and , in some cases, we’ve modified them to a slightly different format.  </p>

<p>You might need to SEARCH around to figure out what to do, but you are an Early Talent.  You’ll figure it out.  <br>
You finally unlocked the last task in this mission! <br>
OUT-STANDING!</p>

<p>Now that you’ve explored how SAP supports the food industry today, we want to hear YOUR ideas, </p>

<p>Go out to Jam and write up a short (3-4 paragraphs) response to the following question:</p>

<p>How might SAP support the food industry in the future?  </p>

<p>Reference any ways you’ve discovered that SAP supports this industry today.  Be sure to also consider the impact on our world if SAP did not support these companies. On Jam, there is a group in the Early Talent group specifically set up for your responses.  Feel free to read what others have posted.</p>

<p>Thanks for all your help.</p>