
<html>
<body>

<p>Hey. Thanks so much! We read your ideas, and we really think they're great!</p>



<p>It's so hard for us to determine what will 'improve the future', that we are looking for all ideas.</p>

<p>Your ideas have sparked some new actions on our part.</p>



<p>AND! We've noticed that things have already improved because of your efforts. I went to a restaurant this morning, and there was a sizeable variety of options available for me to choose from.</p> 



<p>It's weird being part of the small consortium that remembers what the world looked like yesterday and realizing that it looks different today. And, it's all thanks to YOU.</p>




<p>Ok, I'm off to get a doughnut. Please accept this small token of our appreciation for all your help.</p>

<p>I'll be in touch with another mission shortly.</p> 

</html>
</body>