<html>
<body>
<p>
<input type="image" src="images/play_btn.png" alt="Play" onclick="playVideo()"><br>
</p>
 <div class="post-video">
		<p>Select any unlocked node to begin.</p> 
		<p>Additional nodes will unlock as you proceed through the content.</p> 
		<p>The video will now be unlocked.</p>
 </div>
<p>
If you need some assistance, check out the <a href="https://jam4.sapjam.com/groups/0wkrom4jwNilfD5iGCeavm/documents/jrR1v0Lve5jaRB8rsPq04l/slide_viewer" target="_blank">New User Player Guide</a>
</p>


</body>
</html>