<html>
<body>

<p>How's it going so far?</p>

<p>I'm here today with Martin, one of our partners in Germany. Martin, like a small handful of our most trusted working partners, has been in business with SAP for more than 20 years and has even attended some of our consortium meetings. Han's company implemented some SAP solutions that helped to improve their data analysis procedures. When Martin and his company succeed, so does SAP!</p>

<p>Martin is going to speak to you about how you can support change in the global power-grid infrastructure from traditional to alternative energy sources. Let's get started.</p> 

</body>
</html>