<html>
<body>


<p>SAP believes in the power of new generations to innovate, bring new energy and innovation to the company's future. We believe in people like you, the Early Talents, who are passionate to impact the world!</p>

<p>So, what's the Early Talent Program all about? The Global Early Talent Program is an end-to-end program to help accelerate the development of you, the Early Talent hires, in your first 2 years.</p> 

<p>The overall intent of the Early Talent Program is for you to be able to:
<ul>
<li><b>Know SAP</b>: I know how my work fits into SAP’s overall strategy and what is expected of me</li> 
<li><b>Know Yourself</b>: I know what my role is at SAP</li>
<li><b>Explore Options</b>: I know the competencies and skills I need to develop</li>
<li><b>Get Focused</b>: I have an actionable development plan to help me succeed and grow</li> 
<li><b>Take Action</b>: I am investing in my learning and development opportunities</li>
</ul>
</p> 

<p><b>What are the Early Talent Success Factors?</b><br>How do you succeed at SAP? There are several skills and competencies that you will want to acquire or master in order to be successful in a cloud company.<br> 
These success factors are:
<ul>
<li>Team work and collaboration</li>
<li>Customer focus and engagement</li>
<li>Change agility and self-development</li>
<li>Run Simple and Smart</li>
</ul>
</p>

<p>Learn more about what constitutes each of these here.</p>
   

</html>
</body>
