<html>
<body>


<p>How We Run is a set of behaviors that describe how we get things done at SAP on our best day. It describes what makes SAP's culture unique and special and gives us direction for making decisions and driving our work every day.</p>

<p>How We Run is comprised of these behaviors:
<ul>
<li>Keep the promise</li>
<li>Tell it like it is</li>
<li>Stay curious</li>
<li>Build bridges, not silos</li>
<li>Embrace differences</li>
</ul>
</p>

<p>Watch this video to learn more:
</p>
   

</html>
</body>
