<html>
<body>


<p>A huge part of our continued success has to do with how we run. We've actually shared a lot of this message with the world. But you knew that, right? One of the reasons that YOUR time is so important to us in the future is that you exist in the NOW. And the NOW is a time of both great change and great opportunity.</p> 

<p>The Cloud is new and beginning to spread across the globe and one of the big messages we've shared out is to Run Simple.</p>

<p>Click here to learn more about 'Run Simple'. It's a pretty amazing message that exists everywhere in 2045.</p>
   

</html>
</body>
