<html>
<body>


<p>Ever heard of Design Thinking? Design Thinking is an innovative approach and process to discovering opportunities, inspiring potential, and creating successful products that meet human needs, add business value, and are technically feasible.</p>

<p>It's also the design philosophy that we encourage our software development teams to use. The aim is quite simple: get a much better understanding of our users so that we can provide much better solutions.</p>

<p>But some also believe that it's a revolutionary approach that can be used to solve all the world's problems from poor product design to environmental pollution.</p>

<p>Go to the Learning Portal and complete this e-Learning course to get a better overview of Design Thinking:</p>
   

</html>
</body>