<html>
<body>

<p>Rising sea levels, melting glaciers and devastating droughts: climate change has gained even more momentum in 2045. Climate change is no longer a "challenge for future generations." It's a process that started even before your time, and it's a very real problem facing us in 2045.</p>

<p>The general consensus in the research community is that global warming is the result of human activity (or anthropological sources). We have been using too many fossil fuels in the form of coal, oil, and gas. Carbon dioxide and other greenhouse gases are causing the Earth's atmosphere to heat up. This is another reason why our focus and commitment to renewable energy sources is so important!</p> 

<p>Back in the 21st century, SAP pledged its support for the UN-led Date for Climate Action Campaign, which helped to combat climate change. SAP's Green Cloud Campaign was also successful in running data centers that draw their power from renewable energy resources. But it hasn't been enough!  What can you do to make a difference?</p> 

<p>Think about your day-to-day job and responsibilities at SAP. How can you reduce your own energy consumption, or overall footprint in your office? What cool and innovative ways of being more sustainable have you seen around you, in your community, country or around the world? Feel free to share any news articles, videos, or anything else you find! Log into Jam, and create a blog entry.</p> 

</body>
</html>